@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #2c3e50;
  font-family: "Open Sans", sans serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}
.title span {
  display: block;
  text-transform: none;
  font-size: .70em;
}

.contenedor-acordeon {
  width: 400px;
  overflow: hidden;
  border-radius: 3px;
}

.acordeon {
  width: 100%;
  overflow: hidden;
}
.acordeon__head {
  background: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .90em;
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.5) inset;
}
.acordeon__head:hover {
  cursor: pointer;
}
.acordeon__head--logo, .acordeon__head--title, .acordeon__head .icon {
  pointer-events: none;
}
.acordeon__head--logo {
  width: 8%;
}
.acordeon__head--title {
  display: inline-block;
  text-transform: uppercase;
  font-size: .95em;
  font-weight: 600;
}
.acordeon__head .icon {
  font-size: .80em;
}
.acordeon__body {
  background: #1a252f;
  height: 0;
  transition: height .4s ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
.acordeon__body__menu {
  list-style: none;
}
.acordeon__body__menu li {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.3);
  padding: .90em;
}
.acordeon__body__menu li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1em 0 1em 1.5em;
  font-size: .95em;
  line-height: 1.2em;
  font-weight: 600;
}

.active {
  height: 56px;
}
